body {
    background-color: grey;
    color: white;
    margin: 0px;
}

#myHeader {
    width: 100%;
    background-color: rgb(153, 62, 62);
    background-image: url("Typical_French_bakery_pastries.jpg");
    background-size: 100%;
    height: 150px;
}

nav ul {
    list-style-type: none;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    font-size: 30px;
}

a:active {
    color: deeppink;
    background-color: transparent;
    text-decoration: underline;
}

.ha {
    font-size: 23px;
    color: white;
    margin: 2px 5px 5px 5px ;
    padding: 3px;
    text-align: center;
    font-family: fantasy;
}

#thatImage {
    width: 144px;
    height: 30px;
    margin: 2px 5px 5px 5px;
}
#middleSection {
    float: left;
    background-color:white;
    color:black;
    height: 100px;
    margin: 0px;
    padding: 0px;
    width: 60%;
}

#home {
    float: left;
    background-color: blue;
    margin: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-image: url("Jiguang_pastry\,_Matsu\,_Taiwan.jpg");
    background-size: 100%;
    border: 1px solid black;
    text-align: center;
    color: red;
}



#businesses {
    float: left;
    background-color: blue;
    margin: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-image: url("800px-Danish_pastry.jpg");
    background-size: 100%;
    border: 1px solid #000000;
    text-align: center ;
    color: yellow;
}

#occation {
    float: left;
    color: chartreuse;
    background-color: blue;
    margin: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-image: url("800px-Buttergebäck_verziert.jpg");
    background-size: 100%;
    border: 1px solid black;
    text-align: center;
}

#charity {
    float: left;
    background-color: blue;
    margin: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-image: url("Typical_French_bakery_pastries.jpg");
    background-size: 100%;
    border: 1px solid black;
    text-align: center;
    color: rgb(0, 255, 255);
}

@media (max-width: 1000px) {
    #middleSection {
        background-color: rgb(252, 218, 236);
    }
}

@media (max-width: 910px) {
    #middleSection {
        background-color: rgb(253, 176, 217);
    }
}

@media (max-width: 746px) {
    #middleSection {
        height: 215px;
        background-color:  rgb(248, 112, 184);
    } 

    #lowerSection {
        padding: 0 0 115px 0;
    }
}

@media (max-width: 600px) {
    #middleSection {
    background-color:rgb(250, 41, 152);   
    }
}

@media (max-width: 530px) {
    #middleSection {
    background-color: deeppink;   
    }
}

@media (max-width: 500px) {
    #middleSection {
    background-color: rgb(253, 0, 84);    
    }

    #home, #businesses, #occation, #charity {
        border: 1px rgb(109, 109, 109) solid;
    }
}

@media (max-width: 447px) {
    #home, #businesses, #occation {
        width: 80px;
        height: 80px;
        
    }

    #middleSection {
    background-color: red;        
    }

    #lowerSection {
        height: 215px;
        width: 100%;
    }

    #home, #businesses, #occation, #charity {
        border: 1px rgb(204, 203, 203) solid;
    }
}

@media (max-width: 378px) {
    #middleSection {
        background-color: rgba(151, 1, 1, 0.904);
        width: 100%;
        height: auto;
        margin: 0px;
    }

    #lowerSection {
        width: 100%;
        height: auto;
        padding: 0 224px 0 0;
        margin: 0px;
    }

    #home, #businesses, #occation, #charity {
        border: 1px white solid;
    }
}

#lowerSection {
    float: left;
    background-color: black;
    text-align: center;
    width: 40%;
    height: 100px;
    
}

section:after {
    content: "";
    display: table;
    clear: both;
  }

#footer  {
    background-color:rgb(0, 0, 255);
    height: 60px;
    text-align: center;
}