[submodule "Practice107"]
	path = Practice107
	url = https://github.com/Mark-Eugene-Barasu/Practice-Makes-Perfect/Practice107.git
[submodule "Practice110"]
	path = Practice110
	url = https://github.com/Mark-Eugene-Barasu/Practice-Makes-Perfect/Practice110.git
[submodule "Practice119"]
	path = Practice119
	url = https://github.com/Mark-Eugene-Barasu/Practice-Makes-Perfect/Practice119.git
[submodule "Practice120"]
	path = Practice120
	url = https://github.com/Mark-Eugene-Barasu/Practice-Makes-Perfect/Practice120.git
[submodule "Practice121"]
	path = Practice121
	url = https://github.com/Mark-Eugene-Barasu/Practice-Makes-Perfect/Practice121.git
