body{
    background-color: rgb(177, 177, 177);
    color: deeppink;
}

#theOnlyButton {
    border: none;
    border-radius: 50px;
    margin: 0%;
    background-color: rgb(217, 255, 0);
    color: red;
}