body {
    background-color: rgb(231, 227, 227);
}

main {
    border: 1px solid orange;
    position: relative;
    left: 50px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(white, rgb(51, 255, 0));
}

@keyframes skewing {
    0%   { transform: skew(0deg);  }
    20%  { transform: skew(10deg);  }
    40%  { transform: skew(45deg);  }
    60%  { transform: skew(90deg);  }
    80%  { transform: skew(120deg);  }
    100% { transform: skew(0deg);  }
}


#the-box {
    border: 1px solid black;
    position: relative;
    width: 100px;
    height: 70px;
    background-image: radial-gradient(pink, deeppink);
    top: 100px;
    left: 100px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: yellow;
    font-size: 20px;
    text-decoration: underline;
    animation: skewing   10s       ease-out        0s       infinite       reverse     both;
  /*animation:| name  |duration |timing-function| delay| iteration-count| diraction |fill mode;*/
}